### [Observations :]

* We can observe that the majority of the players are male (84%).Most of the players are aged between 15 and 30 years old. Males are also more likely to buy items in game with (~2000$) on a the total of (2379$). However women are not negligeable as 14% of the players are females.

* We can go deeper in the analysis and we observe that the most present group age is between 20 and 24 years old (44% of tha players). This age group spends also the most money on buying items in game (~1115$) with an average purchae of $4.32 . 

* Based on the most populars and the most profitable items, and based on the top spenders, we can observe that the average spends are between $3.40 and $4.90 . This corelate with the average purchase of the most present age group.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [29]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [30]:
total_players = len(purchase_data["SN"].unique())
total_player = pd.DataFrame({"Total players" : [total_players]})
total_player

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
#Calculations
unique_items = len(purchase_data["Item Name"].unique())
avg_price = purchase_data["Price"].mean()
number_purchases = purchase_data["Item Name"].count()
revenue = purchase_data["Price"].sum()
#create the data frame
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items], 
                                    "Average Price" : avg_price,
                                    "Number of Purchases": number_purchases,
                                    "Total Revenue" : revenue})
#Format the data frame                                    
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:,.2f}".format)#Print the data frame    
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [32]:
#unique with grouping
#grouped_df = purchase_data["Gender"].agg({"SN": "nunique"})
#Calculations without grouping
total_male = purchase_data[purchase_data["Gender"] == "Male"].value_counts("SN").count()
total_female = purchase_data[purchase_data["Gender"] == "Female"].value_counts("SN").count()
total_others = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"].value_counts("SN").count()
percent_male = total_male/total_players
percent_female = total_female/total_players
percent_others = total_others/total_players
#Create data Frame
gender_df = pd.DataFrame({"Gender" : ["Male","Female","Other / Non-Disclosed"],
                          "Total Count" : [total_male , total_female ,total_others], 
                          "Percent of Players" : [percent_male , percent_female ,percent_others]})
#Formating data frame (another way)
gender_df = gender_df.style.format({"Percent of Players" : "{:.2%}"})
#print the result data frame
gender_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [33]:
#Group by gender
f = {"Purchase ID": ["count"], "Price": ["mean", "sum"]}
grouped_df = purchase_data.groupby(["Gender"]).agg(f)
grouped_df.columns = grouped_df.columns.map("_".join)
#group the unique count per gender in a list
unique_gender = [total_female, total_male, total_others]
grouped_df["Avg Total Purchase per Person"] = grouped_df["Price_sum"]/unique_gender
#fornating the dataframe
grouped_df = grouped_df.sort_values("Price_sum", ascending = False).reset_index()
grouped_df = grouped_df.rename(columns = {"Purchase ID_count" : "Purchase Count", 
                                          "Price_mean" : "Average Purchase Price", 
                                          "Price_sum" : "Total Purchase Value"})
grouped_df = grouped_df.style.format({"Average Purchase Price" : "${:.2f}",
                                      "Total Purchase Value" : "${:,.2f}",
                                      "Avg Total Purchase per Person" : "${:.2f}"})
#print the result data frame
grouped_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [34]:
#see the min and max Age to be sure to include everybody in the bins
purchase_data.describe()
#Bins
bins = [0,10,15,20,25,30,35,40,50]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#add a age range column to the existing data frame
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], 
                              bins = bins, labels = labels, right = False)
#create a new data frame grouped bin age range
age_range_df = purchase_data.groupby(["Age Range"])
total_count_range = age_range_df["SN"].value_counts().count("Age Range")
summary_df = pd.DataFrame(total_count_range)
summary_df["Percentage of Players"] = summary_df["SN"]/total_players
#Formating the  
summary_df = summary_df.rename(columns = {"SN":"Total Count"})
summary_df["Percentage of Players"] = summary_df["Percentage of Players"].map("{:.2%}".format)
summary_df = summary_df.reset_index()
#print the result data frame
summary_df

  Age Range  Total Count Percentage of Players
0       <10           17                 2.95%
1     10-14           22                 3.82%
2     15-19          107                18.58%
3     20-24          258                44.79%
4     25-29           77                13.37%
5     30-34           52                 9.03%
6     35-39           31                 5.38%
7       40+           12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [35]:
#create a summary table with a function per columns
f = {"Purchase ID": ["count"], "Price": ["mean", "sum"]}
summary2_df = age_range_df.agg(f)
summary2_df.columns = summary2_df.columns.map("_".join) 
summary2_df["Avg Total Purchase per Person"] = summary2_df["Price_sum"]/total_count_range
#formating the data frame
summary2_df = summary2_df.reset_index()
summary2_df = summary2_df.rename({"Purchase ID_count" : "Purchase Count", 
                                  "Price_mean" : "Average Purchase Price", 
                                  "Price_sum" : "Total Purchase Value"}, axis = 1)
summary2_df = summary2_df.style.format({"Average Purchase Price" : "${:.2f}",
                                      "Total Purchase Value" : "${:,.2f}",
                                      "Avg Total Purchase per Person" : "${:.2f}"})
#print the result data frame
summary2_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [36]:
#first data frame grouped by SN count
f = {"Price": ["mean", "sum"]}
grouped_sn = purchase_data.groupby("SN")
top_df = pd.DataFrame(grouped_sn["Purchase ID"].value_counts().count("SN").sort_values(ascending = False))
#second data frame grouped by SN price avg and total
f = {"Price" : ["mean", "sum"]}
top2_df = grouped_sn.agg(f)
#merge the 2 data frames
top_general_df = top2_df.merge(top_df, on = "SN").reset_index()
top_general_df.columns = top_general_df.columns.map("_".join)
#Formating
top_general_df = top_general_df.rename({"S_N": "SN","Price_mean":"Average Purchase Price",                                               "Price_sum": "Total Purchase Value",
                                        "P_u_r_c_h_a_s_e_ _I_D":"Purchase Count"}, axis = 1)

top_general_df = top_general_df[["SN","Purchase Count","Average Purchase Price",
"Total Purchase Value"]].sort_values("Total Purchase Value", ascending= False).iloc[:5,:]

top_general_df = top_general_df.reset_index()
del top_general_df["index"] 

top_general_df = top_general_df.style.format({"Average Purchase Price" : "${:.2f}",
                            "Total Purchase Value" : "${:.2f}"})
#print the result data frame
top_general_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [37]:
group1 = purchase_data.groupby(["Item ID", "Item Name"])
f = {"Item ID" : ["count"],"Price" : ["mean", "sum"]}
item1 = group1.agg(f)
item1.columns = item1.columns.map("_".join)
item1 = item1.reset_index()
#formating
item1 = item1.rename({"Item ID_count" :"Purchase Count","Price_mean":"Item Price",	"Price_sum":"Total Purchase Value"}, axis = 1).sort_values(by = "Purchase Count", ascending = False).iloc[:5,:]
item1 = item1.reset_index(drop=True)
item1 = item1[["Item ID","Item Name","Purchase Count","Item Price","Total Purchase Value"]]
item1 = item1.style.format({"Item Price": "${:.2f}","Total Purchase Value" : "${:.2f}"})
item1

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [38]:
group1 = purchase_data.groupby(["Item ID", "Item Name"])
f = {"Item ID" : ["count"],"Price" : ["mean", "sum"]}
item2 = group1.agg(f)
item2.columns = item2.columns.map("_".join)
item2 = item2.reset_index()
#formating
item2 = item2.rename({"Item ID_count" :"Purchase Count","Price_mean":"Item Price",	"Price_sum":"Total Purchase Value"}, axis = 1).sort_values(by = "Total Purchase Value", ascending = False).iloc[:5,:]
item2 = item2.reset_index(drop=True)
item2 = item2[["Item ID","Item Name","Purchase Count","Item Price","Total Purchase Value"]]
item2 = item2.style.format({"Item Price": "${:.2f}","Total Purchase Value" : "${:.2f}"})
item2